@model Domain.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <fieldset>
                <legend>Dados do Endereço</legend>
            </fieldset>

                <div>
                    <label asp-for="Endereco.Cep"></label>
                    <input type="text" asp-for="Endereco.Cep" class="form-control" />
                </div>

            <div>
                <label asp-for="Endereco.Logradouro"></label>
                <input type="text" asp-for="Endereco.Logradouro" readonly class="form-control" />
            </div>
            <div>
                <label asp-for="Endereco.Bairro"></label>
                <input type="text" asp-for="Endereco.Bairro" readonly class="form-control" />
            </div>
            <div>
                <label asp-for="Endereco.Localidade"></label>
                <input type="text" asp-for="Endereco.Localidade" readonly class="form-control" />
            </div>
            <div>
                <label asp-for="Endereco.Uf"></label>
                <input type="text" asp-for="Endereco.Uf" readonly class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary" asp-action="BuscarCep" asp-controller="Usuario" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

