<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <form asp-action="Cadastrar" method="post">
        <label>Nome:</label><br />
        <input type="text" name="txtNome" value="" /><br />
        <label>Descrição:</label><br />
        <input type="text" name="txtDescricao" value="" /><br />
        <label>Preço:</label><br />
        <input type="text" name="txtPreco" value="" /><br />
        <label>Quantidade:</label><br />
        <input type="text" name="txtQuantidade" value="" /><br />
        <input type="submit" name="submit" value="Cadastrar" />
    </form>
</body>
</html>
