@model Produto

<form asp-action="Cadastrar" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Cadastro de Produto</legend>
        <div asp-validation-summary="ModelOnly" class="text-primary"></div>
        <div class="form-group">
            <label asp-for="Nome"></label>
            <input class="form-control" type="text" asp-for="Nome" />
            <span class="text-primary" asp-validation-for="Nome"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao"></label>
            <input class="form-control" type="text" asp-for="Descricao" />
            <span class="text-primary" asp-validation-for="Descricao"></span>
        </div>
        <div class="form-group">
            <label asp-for="Preco"></label>
            <input class="form-control" type="text" asp-for="Preco" />
            <span class="text-primary" asp-validation-for="Preco"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantidade"></label>
            <input class="form-control" type="text" asp-for="Quantidade" />
            <span class="text-primary" asp-validation-for="Quantidade"></span>
        </div>
        <div class="form-group">
            <label asp-for="Categoria"></label>
            <select class="form-control" type="text" name="dropCategoria" asp-items="@ViewBag.Categorias"></select>
            <span class="text-primary" asp-validation-for="Categoria"></span>
        </div>
        <div class="form-group" id="Imagem">
            <label asp-for="Imagem"></label><br />
            <input type="file" name="fupImagem" />
        </div>
        <input type="submit" class="btn btn-info btn-block btn-lg" name="submit" value="Cadastrar" />
    </fieldset>
</form>
