@model Produto
<form asp-action="Editar" method="post">
    <fieldset>
        <legend>Edição de Produto</legend>
        <div class="form-group">
            <input type="hidden" asp-for="ProdutoId" />
            <label>Nome:</label><br />
            <input class="form-control" type="text" asp-for="Nome" /><br />
        </div>

        <div class="form-group">
            <label>Descrição:</label><br />
            <input class="form-control" type="text" asp-for="Descricao"  />
        </div>
        <div class="form-group">
            <label>Preço:</label><br />
            <input class="form-control" type="text" asp-for="Preco"/>
        </div>
        <div class="form-group">
            <label>Quantidade:</label><br />
            <input class="form-control" type="text" asp-for="Quantidade" />
        </div>
        <input type="submit" class="btn btn-info btn-block btn-lg" name="submit" value="Editar" />
    </fieldset>
</form>
